
<div class="container">
<center>
<div class="bubble">
<%= date_format(@tweet.datetime) + " "%>
<%= datetime_am_pm(@tweet.datetime) %>
<br>
<%= @tweet.text %>
</div>

<h3 class="correct_answer"> </h3>

<% if @has_voted != true %>
  <h3> How embarrassing is this tweet? </h3>
  <p class="hidden_vote"><%=@tweet.id%></p>
    <form action="/play/vote/<%=@tweet.id%>" method="POST">
    <input type="range"  min="0" max="100" value="50" name="current_votes">
    <br>
    <button type="button" class="first_button">
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Rate this tweet!
    <input type="submit">
    </button>
  </form>
<%else%>
<%= @message %>
<% end %>


<h3> Who do you think tweeted this gem? </h3>
<p class="hidden_answer"><%=@author.id%></p>
<div id="shuffle">
<table class="guess_table">
  <tr>
    <form action="/play/guess/<%=@author.id%>" method="POST">
    <td><input type="radio" name="choice" value="<%= @author.id %>" ><%=@author.name %></td>
    <td><a href="users/<%=@author.id%>"><image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(@author.email)%>"></td>
    <td></a>
  </tr>

<% array = (1..User.last.id).to_a %>
<% array = array.find_all{ |id| id != User.find(@tweet.user_id).id } %>

<% 4.times do %>
<tr>
<td><input class="radio" name="choice" type="radio" value="<%= answer = User.find(array.sample).id %>" ><%=User.find(answer).name %></td>
<td><a href="users/<%=answer%>"> <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(User.find(answer).email)%>"></a></td>
<td>
    <% array = array.find_all{ |id| id != answer } %>
  </tr>
  <% end %>


</table>
<button type="button" class="second_button">
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Guess who!
<input type="submit">
</button>
</form>
</div>
<br>
<button><a href="/play"> NEXT! </a> </button>
</center>
</div>
