
<div class="container">
<center>
<div class="bubble">
<%= @tweet.datetime %>
<br>
<%= @tweet.text %>
</div>

<h3 class="correct_answer"> </h3>

<h3> How embarrassing is this tweet? </h3>
<p class="hidden_vote"><%=@tweet.id%></p>
  <form action="/play/vote/<%=@tweet.id%>" method="POST">
  <input type="range"  min="0" max="100" value="50" name="current_votes">
  <br>
  <button type="button" class="first_button">
  Rate this tweet!
  <input type="submit">
  </button>
</form>

<h3> Who do you think tweeted this gem? </h3>
<p class="hidden_answer"><%=@author.id%></p>
<div id="shuffle">
<table style="width: 75%">
  <tr>
    <form action="/play/guess/<%=@author.id%>" method="POST">
    <td><input type="radio" name="choice" value="<%= @author.id %>" ><%=@author.name %></td>
    <td><image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(@author.email)%>"></td>
  </tr>

<% array = (1..User.last.id).to_a %>
<% array = array.find_all{ |id| id != User.find(@tweet.user_id).id } %>

<% 4.times do %>
<tr>
<td><input class="radio" name="choice" type="radio" value="<%= answer = User.find(array.sample).id %>" ><%=User.find(answer).name %></td>
<td><image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(User.find(answer).email)%>"></td>
    <% array = array.find_all{ |id| id != answer } %>
  </tr>
  <% end %>


</table>
<button type="button" class="second_button">
&nbsp &nbsp &nbsp &nbsp Guess who!
<input type="submit">
</button>
</form>
</div>
<br>
<button><a href="/play"> NEXT! </a> </button>
</center>
</div>
