<%= @tweet.datetime %>
<%= @tweet.text %>

<h2> Who do you think tweeted this gem? </h2>

<div id="shuffle">
<form action="" >
<ul>
<li><input type="radio" value="<%= answer = User.find(@tweet.user_id) %>"><%=answer.name %><image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(answer.email)%>"></li><br>

<% array = (1..User.last.id).to_a %>
<% array = array.find_all{ |id| id != User.find(@tweet.user_id).id } %>

<% 4.times do %>
 <li> <input class="radio" type="radio" value="<%= answer = User.find(array.sample) %>"><%=answer.name %> <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(answer.email)%>"></li><br>
<% array = array.find_all{ |id| id != answer.id } %>
<% end %>
</ul>
</form>
</div>
