<div class="container">
  <h1>Tweeting Out My Closet</h1>

  <% if logged_in? %>
    <% @tweets.each do |tweet| %>
    <% if tweet.user_votes > 0 %>
      <div class="bubble">
      <%= tweet.datetime %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% email = User.find(tweet.user_id).email %>
      <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(email)%>">
      <br>
      <%= "Total User Votes: " + "#{tweet.user_votes}" %>
      <br>
      <% if tweet.user_votes != 0 %>
        <%= "Embarrassment Rating: " + "#{tweet.average_votes}"%>
      <% end %>
      <br>
      <br>
    </div>
    <% end %>
    <% end %>
  <% end %>
 </div>

