<div class="container">
  <div class="tweets">
  <h2>Most Embarrassing Tweets</h2>

    <% @tweets.each do |tweet| %>
      <div class="bubble" id="gray">
      <%= date_format(tweet.datetime) + " " %>
      <%= datetime_am_pm(tweet.datetime) + " " %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% email = User.find(tweet.user_id).email %>
      <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(email)%>">
      <br>
      <br>
      <%= "Total User Votes: " + "#{tweet.user_votes}" %>
      <br>
      <%= "Embarrassment Rating: " + "#{tweet.average_votes}"%>
      <br>
      <button><a href="/play/rate/<%=tweet.id%>"> Rate this tweet!</a></button>
      <br>
      <br>
    </div>
    <% end %>
  </div>

  <div class="high_scores">
  <h2> Knows DBC Best </h2>
  <% counter = 1 %>
  <% @high_scores.each do |user| %>
    <div class="bubble">
    <%= "#{counter}. " + user.name %>
    <% email = user.email %>
    <br>
    <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(email)%>">
    <br>
    <%= "#{user.score} points" %>
    <br>
    <a href="users/<%=user.id%>"> See <%=User.find(user.id).name%> 's closet! </a>
    <br>
    <br>
    <% counter += 1 %>
  </div>
  <% end %>
  </div>
 </div>

