<div class="container">
  <h1>Tweeting Out My Closet</h1>

  <% if logged_in? %>
    <% @tweets.each do |tweet| %>
      <div class="bubble">
      <%= tweet.datetime %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% email = User.find(tweet.user_id).email %>
      <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(email)%>">
      <br>
      <% user_votes = Vote.where(tweet_id: tweet.id).size %>
      <%= "Total User Votes: " + "#{user_votes}" %>
      <% sum = 0 %>
      <% Vote.where(tweet_id: tweet.id).each {|vote|  sum += vote.current_votes } %>
      <br>
      <%= "Embarrassment Rating: " + (sum / Vote.where(tweet_id: tweet.id).size).to_s %>
      <br>
      <br>
    </div>
    <% end %>
  <% end %>
 </div>

