<div class="container">
  <div class="search_tweets">
  <h2><%=@message%>...</h2>

    <% @tweets.each do |tweet| %>
      <div class="bubble" id="gray">
      <%= date_format(tweet.datetime) + " " %>
      <%= datetime_am_pm(tweet.datetime) + " " %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% user = User.find(tweet.user_id) %>
      <a href="users/<%=user.id%>"><image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(user.email)%>"></a>
      <br>
      <br>
      <%= "Total User Votes: " + "#{tweet.user_votes}" %>
      <br>
      <%= "Embarrassment Rating: " + "#{tweet.average_votes}"%>
      <br>
      <button><a href="/play/rate/<%=tweet.id%>"> Rate this tweet!</a></button>
      <br>
      <br>
    </div>
    <% end %>
  </div>