<div class="container">
  <div class="left_user_page">
  <h2> What Other People Find Most Embarrassing About You: </h2>
  <% @tweets.each do |tweet| %>
      <div class="bubble" id="red">
      <%= date_format(tweet.datetime) %>
      <%= datetime_am_pm(tweet.datetime) %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% email = User.find(tweet.user_id).email %>
      <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(email)%>">
      <br>
      <%= "Total User Votes: " + "#{tweet.user_votes}" %>
      <br>
      <%= "Embarrassment Rating: " + "#{tweet.average_votes}" %>
      <br>
      <br>
    </div>
  <% end %>
  </div>

  <div class="right_user_page">
  <h2> What You Find Most Embarrassing About Other People: </h2>
   <% @my_voted_tweets.each do |tweet| %>
      <div class="bubble">
      <%= date_format(tweet.datetime) %>
      <%= datetime_am_pm(tweet.datetime) %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% email = User.find(tweet.user_id).email %>
      <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(email)%>">
      <br>
      <%= "Your Embarrassment Rating: " + "#{Vote.find_by(user_id: current_user.id, tweet_id: tweet.id).current_votes}" %>
      <br>
      <br>
      </div>
  <% end %>
  </div>
  </div>
</div>
