<div class="container">
  <div class="left_user_page">
  <div class="user_title">
    <h2 id="top"> What Other People Find Most Embarrassing About <%=@this_user.name%> </h2>
  </div>
  <% @tweets.each do |tweet| %>
      <div class="bubble" id="equalize_red">
      <%= date_format(tweet.datetime) %>
      <%= datetime_am_pm(tweet.datetime) %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% email = User.find(tweet.user_id).email %>
      <image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(email)%>">
      <br>
      <%= "Total User Votes: " + "#{tweet.user_votes}" %>
      <br>
      <%= "Embarrassment Rating: " + "#{tweet.average_votes}" %>
      <br>
      <button><a href="/play/rate/<%=tweet.id%>"> Rate this tweet!</a></button>
      <br>
    </div>
  <% end %>
  </div>

  <div class="right_user_page">
  <div class="user_title">
  <h2 id="top"> What <%=@this_user.name%> Finds Most Embarrassing About Other People </h2>
  </div>
   <% @my_voted_tweets.each do |tweet| %>
      <div class="bubble" id="equalize_blue">
      <%= date_format(tweet.datetime) %>
      <%= datetime_am_pm(tweet.datetime) %>
      <br>
      <%= tweet.text %>
      <br>
      <%= User.find(tweet.user_id).name %>
      <br>
      <% user = User.find(tweet.user_id) %>
      <a href="/users/<%=user.id%>"><image class="profile" src="http://www.gravatar.com/avatar/<%=gravatar_hash(user.email)%>"></a>
      <br>
      <%= "#{@this_user.name}'s Embarrassment Rating: " + "#{Vote.find_by(user_id: @this_user.id, tweet_id: tweet.id).current_votes}" %>
      <br>
      <button><a href="/play/rate/<%=tweet.id%>"> Rate this tweet! </a></button>
      <br>
      </div>
  <% end %>
  </div>
  </div>
</div>
